.cursor {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0; 
    cursor: none;
    pointer-events: none;
    width: 40px;
    height: 40px;
    border: 1px solid $black;
    transition: .15s;
    transition-timing-function: ease-out;
    z-index: 1000;
    opacity: 0;
    &.is-active {
        background: $grey02-hover;
        border: 1px solid transparent;
    }
}
