%fadein {
    opacity: 0;
    transform : translate(0, 50px);
}
.fadein {
    @extend %fadein;
    transition: 1.5s .5s;

    &.s3 {
        @extend %fadein;
        transition: 1.5s 1s;
    }
    &.s45 {
        @extend %fadein;
        transition: 1.5s 1.5s;
    }
    &.s6 {
        @extend %fadein;
        transition: 1.5s 2s;
    }
    &.scrollin {
        opacity: 1;
        transform: translate(0, 0);
    }
    @include mq() {
        transition: .75s .5s;
    }
}

.fadein-left {
    transition:.5s .5s;
    &.on {
        transform: scaleX(1);
        transform-origin: right;
    }
    &.off {
        transform-origin: left;
        transform: scaleX(0);
    }
}

// %fadeinUnder {
//     opacity: 0;
//     transform : translate(0, 50px);
// }

.fadein-under {
    transition:.5s, 1s;
    transform: translateY(1000%);
    &.on {
        transform: translateY(0);
    }
    &.off {
        transform: translateY(-1000%);
    }
    &.s15 {
        transition:.5s, 1.75s;
    }
    &.s3 {
        transition:.5s, 2s;
    }
    &.s45 {
        transition:.5s, 2.5s;
    }
    &.s6 {
        transition:.5s, 6s;
    }
    &.s75 {
        transition:.5s, 8s;
    }
}