.scroll-now {
    display: block;

    %__item {
        display: block;
        text-align: right;
        position: absolute;
        &::after {
            content: '';
            display: inline-block;
            width: 70px;
            height: 1px;
            vertical-align: middle;
        }
    }

    &__item {
        @extend %__item;
        @include baseStyle($color: $grey02, $fontSize: 12px);
        &:first-child {
            margin-bottom: 10px;
        }
        &:last-child {
            margin-top: 10px;
        }
        &::after {
            background-color: $grey02;
        }
        &--current {
            @extend %__item;
            @include baseStyle($fontSize: 12px);
            &::after {
                background-color: white;
            }
        }
    }
    #currentNum {
        top: 30%
    }
    #nextNum {
        top: 0
    }
    #prevNum {
        bottom: 0
    }
    #totalNum {
        bottom: 30%
    }
    &__divider {
        display: block;
        // margin: 5px 0 5px auto;
        position: absolute;
        top: 50%;
        width: 95px;
        height: 1px;
        background-color: $black;
    }
    @include mq() {
        %__item {
            &::after {
                width: 10px;
            }
        }
        &__divider {
            width: 25px;
        }
    }
}