.scrollbar {
    position: absolute;
    right: -50px;
    bottom: 50px;

    &__text {
        writing-mode: vertical-rl;
        display: block;
        margin-bottom: 10px;
    }
    &__img {
        width: 10px;
        height: 70px;
        display: inline-block;
        margin-left: 5px;
    }
}
.textbar {
    &__text {
        @include baseStyle();
        writing-mode: vertical-rl;
        display: block;
        margin-bottom: 10px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 60px;
            background: $black;
            top: -80px;
            left: 5px;
        }
    }
    @include mq() {
        @include baseStyle($fontSize: 12px);
        &__text {
            &::before {
                height: 30px;
            }
        }
    }
}

.pagetopbar {
    position: absolute;
    // right: -50px;
    // top: -150px;

    &__text {
        @include baseStyle($fontSize: 12px);
        writing-mode: vertical-rl;
        display: block;
        &::before {
            content: '';
            display: inline-block;
            background: url('../assets/images/black-arrow.gif') no-repeat;
            width: 5px;
            height: 52px;
            margin-bottom: 10px;
        }
    }
}