.scrollbar {
    position: fixed;
    right: 18%;
    z-index: 1;
    top: 635px;

    &__text {
        @include baseStyle($fontSize: 12px, $fontWeight: 500);
        letter-spacing: .1em;
        writing-mode: vertical-rl;
        display: block;
        margin-bottom: 10px;
    }
    &__img {
        width: 5px;
        height: 52px;
        display: inline-block;
        margin-left: 5px;
    }
    @include mq() {
        right: 10px;
        top: 510px;
        &__text {
            font-size: 9px;
        }
        &__img {
            width: 3px;
            height: 42px;
        }
    }
}
.textbar {
    &__text {
        @include baseStyle($fontWeight: 600);
        writing-mode: vertical-rl;
        &::before {
            content: '';
            display: inline-block;
            margin-bottom: 10px;
            width: 1px;
            height: 60px;
            background: $black;
        }
    }
    @include mq() {
        @include baseStyle($fontSize: 12px);
        &__text {
            &::before {
                height: 30px;
            }
        }
    }
}

.pagetopbar {
    position: fixed;
    bottom: 180px;
    right: 5%;

    &__text {
        @include baseStyle($fontSize: 12px);
        writing-mode: vertical-rl;
        letter-spacing: .1em;
        &::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            background: url('../assets/images/black-arrow.gif') no-repeat;
            width: 5px;
            height: 52px;
            margin-bottom: 10px;
        }
    }
    @include mq() {
        right: 2%;
    }
}