.mgb-70 {
  margin-bottom: 70px;
}
.mgb-55 {
  margin-bottom: 55px;
}
.mgb-50 {
  margin-bottom: 50px;
}
.mgb-40 {
  margin-bottom: 40px;
}
.mgb-30 {
  margin-bottom: 30px;
}
.mgb-25 {
  margin-bottom: 25px;
}
.mgb-23 {
  margin-bottom: 23px;
}
.mgb-20 {
  margin-bottom: 20px;
}
.mgb-15 {
  margin-bottom: 15px;
}
.mgb-10 {
  margin-bottom: 10px;
}
.mgb-7 {
  margin-bottom: 7px;
}
.mgb-13m {
  margin-bottom: -13px;
}
@include mq() {
  .mgb-70 {
    margin-bottom: 140px;
  }
  .mgb-30 {
    margin-bottom: 35px;
  }
  .mgb-25 {
    margin-bottom: 50px;
  }
  .mgb-10 {
    margin-bottom: 20px;
  }
  .mgb-pc-80 {
    margin-bottom: 80px;
  }
  .mgb-pc-50 {
    margin-bottom: 50px;
  }
}
