body {
  font-family: 'Poppins', sans-serif;
  height: auto;
  margin-top: 160px;
  // cursor: none;
  &.is-mask {
    overflow-y: hidden;
  }
  @include mq() {
    margin-top: 80px;
    // margin-top: 200px;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  // cursor: none;
}