// media query
$breakpoints: (
  'md': 'screen and (max-width: 767px)',
);

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin baseStyle($color: $black, $fontSize: 14px, $fontWeight: 500, $lineHeight: 1.5 ) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
  line-height: $lineHeight;
}
