.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// .flex-center {
//   display: flex;
//   align-items: center;
// }
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  &__1col {
    flex-basis: 100%;
    max-width: 100%;
  }
  &__2col {
    flex-basis: 50%;
    max-width: 50%;
  }
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__w50 {
    width: 100%;
  }
  &__w40 {
    width: 100%;
  }
  &__w60 {
    width: 100%;
  }
  @include mq() {
    flex-direction: row;
    justify-content: space-between;
    &__w50 {
      width: 50%;
    }
    &__w40 {
      width: 40%;
    }
    &__w60 {
      width: calc(60% - 77px);
    }
  }
}
