.flex-layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  &--center {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
  &__left {
    width: 210px;
  }
  &__right {
    width: 210px;
    height: 100px;
  }
  &__side02 {
    max-width: 270px;
    flex: 1;
  }
  &__about {
    max-width: 745px;
    padding: 0 35px;
    flex: 1;
  }
  &__main {
    flex: 1;
    max-width: 730px;
    margin-bottom: 30px;
  }
  &__item-100 {
    width: 100%;
  }
  @include mq() {
    align-items: flex-start;
    &--center {
      position: static;
      transform: translateY(0);
    }
    &__main {
      // max-width: 710px;
      flex: auto;
      width: 100%;
      margin-bottom: 15px;
    }
    &__about {
      flex: auto;
      width: 100%;
      margin-bottom: 15px;
    }
    &__left {
      margin-bottom: 30px;
    }
    &__right {
      position: fixed;
      width: 26px;
      top: 90px;
      right: 0;
    }

  }
}
%flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrap {
  @extend %flex-wrap;
  &--justify-between {
    @extend %flex-wrap;
    justify-content: space-between;
  }
  &__item {
    width: calc(100% / 2);
    &:nth-child(odd) {
      padding-right: 20px;
    }
    &:nth-child(even) {
      padding-left: 20px;
    }
  }
  &__item03 {
    width: calc((100% - 100px) / 3);
  }
  &__all {
    width: calc(100% / 1);
  }
  &__textbar {
    padding: 0 75px;
    position: relative;
    top: -75px;
  }
  &__info {
    display: block;
    width: calc(100% - 200px);
  }
  @include mq() {
    &__textbar {
      padding: 0 30px;
      top: -58px;
    }
    &__info {
      display: block;
      width: calc(100% - 100px);
    }
    &__item {
      width: 100%;
      &:nth-child(odd) {
        padding-right: 0;
      }
      &:nth-child(even) {
        padding-left: 0;
      }
    }
  }
}