.main-visual {
    position: relative;
    &__img {
        // margin-bottom: 40px;
        // height: 230px;
    }
    &__section {
        margin-bottom: 50px;
    }
    &__section30 {
        margin-bottom: 30px;
    }
    &__lightgrey {
        background: $light-grey;
        width: 100%;
        height: 54vw;
    }
    // &__link {
    //     display: block;
    //     text-align: right;
    // }
    // .dummy-img {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     font-size: 30px;
    //     width: 100%;
    //     height: 490px;
    //     background: $grey02;
    // }
    // .visual-link {
    //     &__text {
    //         @include baseStyle($color: $black, $fontSize: 10px);
    //         &--grey {
    //             @include baseStyle($color: $grey02, $fontSize: 10px);
    //         }
    //     }
    // }
    &__btn {
        text-align: right;
    }
    @include mq() {
        &__btn {
            text-align: center;
        }
        &__img {
            // height: 122px;
        }
        &__section {
            margin-bottom: 40px;
        }
    }
}