.main-visual {
    position: relative;
    &__img {
        margin-bottom: 40px;
    }
    &__link {
        display: block;
        text-align: right;
    }
    .visual-link {
        &__text {
            @include baseStyle($color: $black, $fontSize: 10px);
            &--grey {
                @include baseStyle($color: $grey02, $fontSize: 10px);
            }
        }
    }
    &__btn {
        text-align: right;
    }
    @include mq() {
        &__btn {
            text-align: center;
        }
        // &__img {
        //     margin-bottom: 40px;
        // }
    }
}