.container {
    display: block;
    max-width: 970px;
    padding: 0 35px;
    margin: 0 auto 115px;
    // @include mq() {
    //     padding: 0 35px;
    // }
}
.container-fluid {
    display: block;
    width: 100%;
    margin-bottom: 125px;
}