.header {
    position: fixed;
    top: 0;
    display: flex;
    padding: 0 80px;
    width: 100%;
    background: $white;
    height: 160px;
    z-index: 2;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__h1 {
        @include baseStyle($fontWeight: bold);
        letter-spacing: .1em;
    }

    .menu-icon {
        position: relative;
        width: 20px;
        height: 12px;
        &__bar {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $black;
            border-radius: 2px;
            transition: .4s;
            &:nth-of-type(1) {
                top: 0;
            }
            &:nth-of-type(2) {
                top: 5px;
            }
            &:nth-of-type(3) {
                bottom: 0;
            }
            &.active {
                &:nth-of-type(1) {
                    transform: translateY(5px) rotate(-25deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    transform: translateY(-5px) rotate(25deg);
                }
            }
        }
    }
}
@include mq() {
    .header {
        padding: 0 35px;
        height: 80px;
    }
}

