.sidemenu {
    display: block;
    padding-left: 80px;
    background: $white;
    &--fix {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    %__link {
        display: block;
        margin-bottom: 30px;
        // &:last-child {
        //     margin-bottom: 0;
        // }
    }
    &__link {
        @extend %__link;
        // @include baseStyle($color: $grey02, $fontSize: 12px, $fontWeight: 600);
        // &.active {
        //     color: $black;
        // }
    }
    &__text {
        @include baseStyle($color: $grey02, $fontSize: 12px, $fontWeight: 600);
        &:hover {
            color: $black;
        }
        &.active {
            color: $black;
        }
    }
    &__text-min {
        @include baseStyle($color: $grey02, $fontSize: 10px, $fontWeight: 600);
        // font-size: 10px;
        display: block;
        margin-bottom: 5px;
        &:hover {
            color: $black;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &.active {
            color: $black;
        }
    }
    @include mq() {
        padding-left: 35px;
        &--fix {
            position: fixed;
            top: 80px;
            width: 100%;
            transform: translateY(0%);
            z-index: 1;
        }
        %__link {
            margin-bottom: 10px;
        }

    }
}
.sidemenu-fix-right {
    position: fixed;
    top: 50%;
    right: 0;
    height: 100px;
    width: 95px;
    transform: translateY(-50%);
    z-index: 1;
    @include mq() {
        top: 28%;
        width: 26px;
    }
}