.sidemenu {
    display: block;
    padding-left: 80px;
    background: $white;
    &--fix {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
    }
    %__link {
        display: block;
        margin-bottom: 38px;
    }
    &__link {
        @extend %__link;
        @include baseStyle($color: $grey02, $fontSize: 12px);
        &.active {
            color: $black;
        }
    }
    &__text-min {
        font-size: 10px;
        &.active {
            color: $black;
        }
    }
    @include mq() {
        padding-left: 35px;
        &--fix {
            position: fixed;
            top: 80px;
            width: 100%;
            transform: translateY(0%);
            z-index: 1;
        }
        %__link {
            margin-bottom: 10px;
        }

    }
}
.sidemenu-fix-right {
    position: fixed;
    top: 50%;
    right: 0;
    height: 100px;
    width: 95px;
    transform: translateY(-50%);
    @include mq() {
        width: 26px;
    }
}